<%- include('partials/header1') %>

<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="box">
                  <h1>Welcome</h1>
                  <img src="../public/img/Asfalís.For all your cyber security needs!.svg" class="img-fluid display-3"></img>
                  <p class="text-muted"> Security is here.</p>
                  <a href="/login"><input type="button" value="Login"></a>
                  <a href="/register"><input type="button" value="Register"></a>
              </div>
          </div>
      </div>
  </div>
</div>
<%- include('partials/footer1') %>
