<%- include('partials/header1') %>

<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="box">
                  <img src="img/cover.png" class="img-fluid display-3">
                  <a href="/login"><input type="button" value="Login"></a>
                  <a href="/register"><input type="button" value="Register"></a>
              </div>
          </div>
      </div>
  </div>
</div>
<%- include('partials/footer1') %>
