<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labs</title>
    <link rel="stylesheet" href="./css/labstyle.css">
</head>

<body>
    <section class="info">
        <h1>LAB</h1>
    </section>
    <section class="cards-wrapper">
        <div class="card-grid-space">
            <a class="card" href=""
                style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
                <div>
                    <h1>XSS</h1>
                    <p>Cross-site scripting is a type of security vulnerability typically found in web applications.</p>
                    <div class="date">Low</div>
                    <div class="tags">
                        <div class="tag">Web</div>
                        <div class="tag">xss</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-grid-space">
            <a class="card" href=""
                style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
                <div>
                    <h1>SQLi</h1>
                    <p>SQL Injection (SQLi) is a type of an injection attack that makes it possible to execute malicious SQL statements.</p>
                    <div class="date">Low</div>
                    <div class="tags">
                        <div class="tag">Web</div>
                        <div class="tag">sqli</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-grid-space">
            <a class="card" href=""
                style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
                <div>
                    <h1>Command Injection</h1>
                    <p>Command injection is an attack in which the goal is execution of arbitrary commands on the host operating system via a vulnerable application.</p>
                    <div class="date">Low</div>
                    <div class="tags">
                        <div class="tag">Web</div>
                        <div class="tag">CI</div>
                    </div>
                </div>
            </a>
        </div>
        <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
    </section>
</body>

</html>