<%- include('partials/header1') %>

<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <form class="box" action="/login" method="post">
                  <h1>Login</h1>
                  <p class="text-muted"> Please enter your login and password!</p> 
                  <input type="email" name="username" placeholder="Email"> 
                  <input type="password" name="password" placeholder="Password"> 
                  <a class="forgot text-muted" href="/register">Don't have a account?</a> 
                  <input type="submit" value="Login">
                  <div class="col-md-12">
                      <ul class="social-network social-circle">
                          <li><a href="/auth/google" class="icoFacebook" title="Facebook"><i class="fab fa-facebook"></i></a></li>
                          <li><a href="/auth/google" class="icoGoogle" title="Google"><i class="fab fa-google"></i></a></li>
                      </ul>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<%- include('partials/footer1') %>
