<%- include('partials/header.ejs') %>

<div id="home">
    <div class="home_background">
        <div id="test"></div>
        <img src="./img/home.jpg" alt="">
    </div>
    <div class="home_foreground">
        <p id="p1">For all your cyber security needs!</p>
        <p id="p2">Take a dive into the world of cyber security and learn<br>how you can make the web a better place
        </p>
        <form action="/secrets" method="post">
            <button type="submit" class="wrapper">Let's Go!</button>
        </form>
    </div>
</div>

<%- include('partials/footer.ejs') %>